name: Build and Push Docker Image

on:
  push:
    branches:
      - sql
  pull_request:
    branches:
      - sql

jobs:
  build:
    runs-on: ubuntu-latest
    environment: topkuber

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Debug: Who am I?
        run: docker info

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: topkuber/backendtitan6:latest
          load: true

      - name: Logout from DockerHub
        run: docker logout
